*{margin:0;
    padding:0;
}
body{
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content:center;
    background-color:rgb(0, 201, 124);
    
}




#box{
    
     margin-top: 70px;
    height:260px;
    width:280px;
    display:flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    flex-wrap: wrap;
    row-gap:1px;
    column-gap:3px;
   
    visibility: hidden;
   
   
    
    
}
.div{
    
    height:80px;
    width:70px;
    border:solid rgb(25, 198, 143) 3px;
    background-color:rgb(213, 102, 17);
    display: flex;
    border: solid rgb(13, 14, 8) 2px;
    cursor: grab;
    color:rgb(18, 16, 16);
    justify-content: center;
    align-items: center;
    font-size: 50px;
    border-radius: 10px;
    
}
#containerall{
    display: block;
     
     height: 100%;
      width: 100%;
      justify-self:center;
      justify-content: center;
      align-items: center;

}
    
  #container{

    
    margin-top:70px;
     height: 100%;
      width: 100%;
    display: flex;
    flex-direction: column;
    gap:10px;
    justify-self:center;
     align-items: center;
    justify-content:center;
   
   
  }  

    


    
.new{

    height:50px;
    width:250px;
    
    background-color:rgb(188, 255, 19);
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style:italic;
    cursor:grabbing;
    
    visibility: visible;
    border:solid black 2px;
    color:rgb(0, 0, 0);
    font-weight: bold;
    border-radius:30px;
    


    
    
}
.comp{
    height:50px;
    width:250px;
    
    background-color:rgb(188, 255, 19);
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style:italic;
    border:solid black 2px;
    color:rgb(0, 0, 0);
    font-weight: bold;
    cursor:grabbing;
    border-radius:30px;
    

}
.exit{
    height:50px;
    width:250px;
   
    color:rgb(0, 0, 0);
    background-color:rgb(188, 255, 19);
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style:italic;
    border:solid black 2px;
    font-weight: bold;
    cursor:grabbing;
    border-radius:30px;
    

    



}
.div.clicked{
    pointer-events: none;

}
.msg{position: absolute;
    bottom: 60px;
    display: block;
    justify-self: center;
    justify-content: center;
    height:max-content;
    width:max-content;
  
    font-family: 'Times New Roman', Times, serif;
    color: beige;
    
}

:hover.new{
background-color:rgb(244, 247, 237);
}

:hover.comp{
    background-color:rgb(229, 242, 242)
    }

:hover.exit{
        background-color:rgb(220, 236, 236)
        }
        
:hover.div{
            background-color:rgb(222, 218, 240)
 }



 @media screen and (max-width:576px) {
    .msg{
        
   position: absolute;
    bottom: 25vh;
    }
 }